.tile {
	display: inline-grid;

	align-content: center;
	justify-content: center;
	text-align: center;

	transition: background 2s;
	background-color: rgba(#000000, .5);

	&[data-state="0"] {
		background-color: rgba(#fff0a0, .5);
	}

	&[data-state="1"] {
		background-color: rgba(#000000, 1);
	}

	&[data-state="2"] {
		background-color: rgba(#00c040, .75);
		transition: background 0s;
	}

	&[data-state="3"] {
		background-color: rgba(#c04000, .75);
		transition: background 0s;
	}

	.label {
		font-size: .5rem;
	}
}
