.tile {
	display: inline-grid;

	align-content: center;
	justify-content: center;
	text-align: center;

	transition: background-color 0s;
	background-color: rgba(#000000, .5);

	&[data-state="0"] {
		background-color: rgba(#fff0a0, .5);
	}

	&[data-state="1"] {
		background-color: rgba(#2f00ff, .5);
	}

	&[data-state="2"] {
		background-color: rgba(#00ffaa, .5);
	}

	.label {
		font-size: .5rem;
	}
}
