<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.data.title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

	<link rel="icon" sizes="16x16" href="assets/icons/favicon_16x16.png">
	<link rel="icon" sizes="32x32" href="assets/icons/favicon_32x32.png">
</head>
<body>
	<div id="app"><h3>Loading...</h3></div>

	<div class="footer">
		Build version: <%= htmlWebpackPlugin.options.packageConfig.version %>
	</div>

	<script src="phaser.min.js"></script>
</body>
</html>
