.object {
	display: inline-grid;

	align-content: center;
	justify-content: center;
	text-align: center;

	/*position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	transform: translate(0, 0);
	transition: background-color 1s;

	&[data-state="0"] {
		background-color: rgba(#000000, .5);
	}

	&[data-state="1"] {
		background-color: rgba(#00c040, .5);
	}

	&[data-state="2"] {
		background-color: rgba(#a040a0, .75);
	}

	&[data-state="3"] {
		background-color: rgba(#808080, .75);
	}

	&[data-state="4"] {
		background-color: rgba(#f08000, .75);
	}

	&[data-state="5"] {
		background-color: rgba(#804000, .25);
	}

	&[data-state="6"] {
		background-color: rgba(#f0f000, .75);
	}

	&[data-state="7"] {
		background-color: rgba(#808000, .25);
	}

	&.collided {
		border: 5px solid #c04000;
	}

	.label {
		display: block;
		font-size: .75rem;
		color: #ffffff80;
	}
}
